<div class="mt-3 ml-3">
  <div *ngIf="alert && !isCidadeSaved" class="alert alert-success" role="alert">
    {{msgAlert}}
  </div>
  <div *ngIf="alert && isCidadeSaved" class="alert alert-danger" role="alert">
    {{msgAlert}}
  </div>
  <form name="cidadeForm" (ngSubmit)="save()" [formGroup]="cidadeForm">
    <div class="form-group row" [hidden]="!cidadeForm.get('id').value">
      <label class="col-sm-1 col-form-label" for="id">ID</label>
      <div class="col-2">
        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly/>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="nome">Nome</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="nome" name="nome" formControlName="nome"
               (focusout)="checkCidadeIsValid()">
      </div>
      <div class="col-2" [hidden]="!cidadeForm.controls.nome?.touched">
        <small class="form-text text-danger"
               [hidden]="!cidadeForm.controls.nome?.errors?.required">
          Este campo é obrigatório
        </small>
        <small class="form-text text-danger"
               [hidden]="isCidadeOk">
          Não há dados para essa cidade
        </small>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="estado">Estado</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="estado" name="estado" formControlName="estado">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="pais">Pais</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="pais" name="pais" formControlName="pais">
      </div>
    </div>
    <hr>
    <div class="row">
      <button class="btn btn-success" type="submit" [disabled]="cidadeForm.invalid || !isCidadeOk">Salvar</button>
    </div>
  </form>
</div>
